.main-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  /*времено для сетки*/
  min-height: 500px;
}

.main-card__item {
  display: flex;
  flex-direction: column;
  background: url("/img/index-background-mobile@1x.jpg") no-repeat;
  background-size: 320px 306px;
  color: white;
  padding-bottom: 13px;

  @media (min-resolution: $retina-dppx) {
    .main-card__item {
      background: url("/img/index-background-mobile@2x.jpg") no-repeat;
      background-size: 320px 306px;
    }
  }
}

.main-card__item h2 {
  font-size: 33px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 28px;
  margin-right: 1px;
}

.main-card__item p {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 24px;
}

.main-card__product {
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-bottom: -6px;
  margin-left: 19px;
}

.main-card__btn {
  padding-left: 70px;
  padding-right: 75px;
  padding-top: 10px;
  padding-bottom: 12px;
  margin-bottom: 23px;
  margin-left: 22px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #68b738;
  color: white;
  text-align: center;
}

.main-card__btn:hover {
  background-color: #5eaa2f;
}

.main-card__btn:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet-width) {
  .main-card {
    min-width: 768px;
    min-height: 850px;
  }

  .main-card__item {
    height: 300px;
    margin-bottom: 0;
    padding-top: 29px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    background-image: none;
  }

  .main-card__item h2 {
    font-size: 56px;
    line-height: 60px;
    margin-left: 66px;
    margin-top: 42px;
    color: black;
    text-align: start;
    z-index: 5;
    width: 420px;
  }

  .main-card__item p {
    font-size: 20px;
    line-height: 20px;
    margin-left: 68px;
    margin-top: 40px;
    color: black;
    text-align: start;
    z-index: 2;
  }

  .main-card__product {
    top: -16px;
    left: -21px;
    z-index: 1;
    margin-left: 0;
  }

  .main-card__btn {
    position: absolute;
    padding-left: 23px;
    padding-right: 26px;
    padding-top: 17px;
    padding-bottom: 22px;
    margin-right: 20px;
    margin-left: 89px;
    margin-bottom: 23px;
    width: 245px;
    z-index: 2;
    font-size: 20px;
    line-height: 10px;
  }
}

@media (min-width: $desktop-width) {
  .main-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 1300px;
    min-height: 700px;
    margin-bottom: 31px;
  }

  .main-card__item {
    width: 610px;
    margin-bottom: 0;
    padding-top: 29px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;

    h2 {
      margin-top: 124px;
      margin-left: 97px;
    }

    p {
      margin-left: 100px;
    }
  }

  .main-card__item::after {
    content: "";
    background: #64a83b;
    width: 38%;
    position: absolute;
    height: 697px;
    top: 0;
    left: 953px;
  }

  .main-card::after {
    content: "";
    position: relative;
    background: url("/img/index-background-desktop@1x.jpg") no-repeat;
    z-index: 0;
    opacity: 0.9;
    top: -70px;
    height: 697px;
    width: 1236px;
    left: 111px;
    background-position-x: -72px;
    background-color: #64a83b;

    @media (min-resolution: $retina-dppx) {
      .main-card .container::after {
        background: url("/img/index-background-desktop@2x.jpg") no-repeat;
      }
    }
  }

  .main-card__product {
    left: 470px;
    z-index: 2;
    top: -295px;
  }

  .main-card__btn {
    position: absolute;
    top: 456px;
    margin-left: 120px;
    font-weight: normal;
    line-height: 14px;
  }
}
