.adress {
  display: flex;
<<<<<<< HEAD
  margin-top: 68px;
=======
>>>>>>> 833cb3b398ba18cd540c8039025214d8090c4747

  & p {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
<<<<<<< HEAD
=======
    margin-left: 20px;
>>>>>>> 833cb3b398ba18cd540c8039025214d8090c4747
    width: 140px;
  }

  & p:last-of-type {
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
  }
}
