.catalog-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  vertical-align: top;
  width: 280px;
  margin-top: 23px;
}

.catalog-card__name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 20px;
  width: 118px;
  height: 50px;
  flex-basis: 100%;
}

.catalog-card__spec {
  tbody {
    display: flex;
  }

  tr {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 16px;
    color: black;
  }

  tr:nth-child(2) {
    margin-left: 53px;
  }

  td {
    font-size: 12px;
    line-height: 16px;
  }
}

.catalog-card__image {
  min-width: 140px;
  min-height: 144px;
  /*Временно*/
  background-color: red;
  align-self: stretch;
}

.catalog-card__button {
  display: inline-block;
  width: 280px;
  height: 40px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: white;
  text-align: center;
  background-color: #68b738;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .catalog-card {
    display: block;
    width: 280px;
    min-height: 431px;
    margin-top: 23px;
    margin-right: 60px;
    background-color: #f2f2f2;
  }

  .catalog-card__name {
    margin-left: 87px;
  }

  .catalog-card__image {
    margin-left: 73px;
  }

  .catalog-card__spec {
    td {
      font-size: 16px;
      border: 1px solid grey;
    }

    tbody {
      margin-left: 60px;
    }
  }

  .catalog-card__button {
    height: 40px;
    width: 249px;
    margin-left: 13px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card__spec {
    display: block;
    position: relative;
    left: 165px;
    top: -70px;
  }
}
