.catalog-last {
  display: flex;
  flex-wrap: wrap;
}

.catalog-last__info {
  .catalog-last__name::after {
    position: absolute;
    content: "";
    top: 2081px;
    left: 264px;
    width: 53px;
    height: 3px;
    border: solid #ffffff;
    border-width: 0 10px;
    margin-right: -100%;
    background: #68b738;
  }

  :nth-child(3) {
    p:nth-child(3) {
      margin-left: 122px;
    }
  }

  :nth-child(4) {
    p:nth-child(3) {
      margin-left: 123px;
    }
  }

  :nth-child(5) {
    padding-bottom: 18px;
    border-bottom: 1px solid grey;
  }
}

.catalog-last__name {
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 33px;
  margin-top: 18px;
}

.catalog-last__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid grey;
  margin-top: 17px;

  :nth-child(1) {
    font-size: 16px;
    line-height: 14px;
    font-weight: 700;
    flex-basis: 100%;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  :nth-child(2) {
    margin-top: 13px;
    font-size: 14px;
    width: 119px;
    height: 13px;
    font-family: ("Arial");
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
  }

  :nth-child(3) {
    width: 38px;
    height: 10px;
    font-family: ("Arial");
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    margin-left: 121px;
    margin-top: 13px;
    margin-bottom: 0;
  }
}

.catalog-last__btn {
  display: inline-block;
  width: 280px;
  height: 40px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: white;
  text-align: center;
  background-color: #68b738;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #ededed;
  font-size: 16px;
  line-height: 16px;
  margin-top: 1px;
}

.catalog-last__image {
  margin-top: 40px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .catalog-last__name {
    width: 341px;
    height: 37px;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    margin-left: 37px;
    margin-top: 35px;
    margin-bottom: 78px;
  }

  .catalog-last__item {
    width: 707px;
    padding-top: 17px;
    padding-bottom: 10px;
    margin-top: 0;
    border-left: 1px solid grey;
    border-right: 1px solid grey;

    :nth-child(1) {
      width: 160px;
      height: 18px;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      margin-left: 37px;
      margin-top: 8px;
      flex-basis: 42%;
    }

    :nth-child(2) {
      width: 137px;
      margin-left: 110px;
      font-size: 16px;
    }

    :nth-child(3) {
      margin-left: 39px;
      font-size: 16px;
      width: 50px;
    }
  }

  .catalog-last__btn {
    flex-basis: 90%;
    margin-top: 10px;
    margin-bottom: 19px;
    margin-left: 35px;
  }

  .catalog-last__info {
    .catalog-last__name::after {
      top: 2599px;
      left: 413px;
      width: 344px;
    }

    .catalog-last__name::before {
      position: absolute;
      content: "";
      top: 2599px;
      left: 5px;
      width: 50px;
      height: 3px;
      border: solid #ffffff;
      border-width: 0 0;
      margin-right: -100%;
      background: #68b738;
    }

    :nth-child(3) {
      p:nth-child(2) {
        margin-left: 175px;
        width: 100px;
      }

      p:nth-child(3) {
        margin-left: 10px;
      }
    }

    :nth-child(4) {
      p:nth-child(2) {
        margin-left: 194px;
        width: 78px;
      }

      p:nth-child(3) {
        margin-left: 13px;
      }
    }

    :nth-child(5) {
      p:nth-child(2) {
        margin-left: 118px;
        width: 128px;
      }
    }
  }

  .catalog-last__image {
    margin-top: 58px;
    margin-bottom: 94px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-last__name {
    margin-left: 0;
    margin-top: 43px;
  }

  .catalog-last__item {
    width: 900px;
    margin-left: 0;
    margin-right: 75px;
    border-left: 0;
    border-right: 0;

    :nth-child(1) {
      flex-basis: unset;
      margin-left: 1px;
    }

    :nth-child(2) {
      margin-left: 164px;
    }

    :nth-child(3) {
      margin-left: 99px;
    }
  }

  .catalog-last__info {
    .catalog-last__name::after {
      top: 1517px;
      left: 413px;
      width: 881px;
    }

    .catalog-last__name::before {
      top: 1517px;
      left: 0;
      width: 25px;
      height: 3px;
    }

    :nth-child(3) {
      p:nth-child(2) {
        margin-left: 165px;
        margin-top: 16px;
      }

      p:nth-child(3) {
        margin-left: 105px;
        margin-right: 10px;
        margin-top: 16px;
        width: 71px;
      }
    }

    :nth-child(4) {
      p:nth-child(2) {
        margin-top: 16px;
        margin-left: 164px;
      }

      p:nth-child(3) {
        margin-top: 16px;
        margin-left: 160px;
      }
    }

    :nth-child(5) {
      margin-bottom: 12px;

      p:nth-child(2) {
        margin-left: 165px;
        width: 135px;
      }
    }
  }

  .catalog-last__image {
    margin-top: 158px;
    margin-bottom: 81px;
  }

  .catalog-last__btn {
    flex-basis: unset;
    margin-bottom: 0;
    margin-top: -2px;
    width: 252px;
  }
}
