.container {
  min-width: 320px;
}

@media (min-width: $tablet-width) {
  .container {
    min-width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    min-width: 1440px;
  }

  .container:last-of-type {
    display: flex;
  }
}
