.form-head {
  display: flex;
}

.form-head__list {
  margin-left: 20px;
}

.form-head__list h2 {
  font-size: 36px;
  line-height: 60px;
}

.form-head__list p {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
