.how-work__title {
  font-size: 33px;
  line-height: 60px;
}

.block-title {
  min-width: 280px;
  margin-top: 0;
}

.how-work__item {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
  list-style-type: none;
  padding-left: 0;

  span {
    background-color: #68b738;
    margin-right: 20px;
  }

  li {
    display: flex;
    margin-top: 21px;
    font-family: sans-serif;
    padding-top: 1px;
  }

  li:nth-child(3) {
    margin-top: 19px;
  }

  li:nth-child(4) {
    margin-top: 21px;
  }
}

@media (min-width: $tablet-width) {
  .how-work__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;

    li {
      flex-direction: column;
      height: 230px;
      margin-right: 150px;
      width: 230px;
      font-size: 16px;
      line-height: 23px;
      padding-top: 4px;

      ::after {
        position: relative;
        content: "1";
        width: 71px;
        height: 279px;
        font-size: 279px;
        font-family: ("Oswald");
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #f2f2f2;
        top: -115px;
        left: 104px;
      }

      span {
        padding-left: 13px;
        padding-right: 12px;
        padding-top: 16px;
        padding-bottom: 12px;
        width: 80px;
        height: 80px;
      }
    }

    li:nth-child(2) {
      margin-right: 10px;
      margin-left: 3px;

      span {
        padding-left: 13px;
        padding-right: 12px;
        padding-top: 16px;
        padding-bottom: 12px;
        width: 80px;
        height: 80px;
      }

      ::after {
        position: relative;
        content: "2";
        width: 71px;
        height: 279px;
        font-size: 279px;
        font-family: ("Oswald");
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #f2f2f2;
        top: -115px;
        left: 104px;
      }
    }

    li:nth-child(3) {
      margin-top: 86px;

      ::after {
        position: relative;
        content: "3";
        width: 71px;
        height: 279px;
        font-size: 279px;
        font-family: ("Oswald");
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #f2f2f2;
        top: -115px;
        left: 104px;
      }
    }

    li:nth-child(4) {
      margin-top: 88px;
      margin-right: 10px;
      margin-left: 4px;
      width: 246px;

      ::after {
        position: relative;
        content: "4";
        width: 71px;
        height: 279px;
        font-size: 279px;
        font-family: ("Oswald");
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #f2f2f2;
        top: -115px;
        left: 104px;
      }

      span {
        margin-bottom: 31px;
      }
    }

    span {
      height: 80px;
      width: 80px;
      margin-bottom: 34px;
    }
  }

  .how-work__title {
    font-size: 56px;
  }

  .block-title {
    margin-top: 26px;
  }
}

@media (min-width: $desktop-width) {
  .how-work__item {
    flex-wrap: nowrap;
    width: 1236px;
    padding-left: 0;

    li span {
      padding-left: 11px;
      padding-right: 11px;
      padding-top: 13px;
      padding-bottom: 16px;
      height: 79px;
      width: 79px;
    }

    li:nth-child(1) {
      ::after {
        z-index: -1;
      }
    }

    li:nth-child(2) {
      margin-right: 81px;

      ::after {
        z-index: -1;
      }
    }

    li:nth-child(3) {
      margin-top: 21px;

      ::after {
        z-index: -1;
      }
    }

    li:nth-child(4) {
      margin-top: 21px;
      width: 252px;

      ::after {
        z-index: -1;
      }
    }
  }

  .how-work__item li {
    width: 245px;
    margin-right: 77px;
  }

  .block-title {
    margin-top: 51px;
  }
}
