.html-academy {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  min-width: 312px;
  text-decoration: none;

  p {
    width: 121px;
    height: 16px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    margin-left: 2px;
    font-family: ("Arial"), "Oswald", sans-serif;
    text-decoration: none;
    color: #444444;
  }

  &__logo {
    margin-bottom: 0;
    margin-left: 110px;
    margin-top: 5px;
    fill: #444444;
  }
}

@media (min-width: $tablet-width) {
  .html-academy {
    text-transform: none;
    margin-top: 58px;

    p {
      margin-left: 49px;
    }

    &__logo {
      margin-left: 14px;
      margin-right: -30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .html-academy {
    margin-top: 20px;

    p {
      margin-left: 198px;
      margin-top: 44px;
    }
  }

  &__logo {
    margin-top: 32px;
    margin-left: 8px;
    margin-right: -85px;
  }
}
