.main-card {
  text-align: center;
  border: 1px solid black;
}

.main-card__item {
  margin-bottom: 135px;

  background-color: #64a83b;
  color: white;
}

.main-card__item h2 {
  font-size: 36px;
  line-height: 36px;
}

.main-card__item p {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}


.main-card__btn {

  margin-right: 20px;
  margin-left: 20px;

  background-color: #68b738;
  color: white;
  text-align: center;
}
