.main-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  /*времено для сетки*/
  min-height: 500px;
}

.main-card__item {
  display: flex;
  flex-direction: column;
  background: url("/img/index-background-mobile@1x.jpg") no-repeat;
  background-size: 320px 306px;
  color: white;
  padding-bottom: 13px;
}

.main-card__item h2 {
  font-size: 33px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 28px;
  margin-right: 1px;
}

.main-card__item p {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 24px;
}

.main-card__product {
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-bottom: -6px;
}

.main-card__btn {
  padding-left: 70px;
  padding-right: 75px;
  padding-top: 10px;
  padding-bottom: 12px;
  margin-bottom: 23px;
  margin-left: 1px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #68b738;
  color: white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-card {
    min-width: 768px;
    min-height: 850px;
  }

  .main-card__item {
    height: 300px;
    margin-bottom: 0;
    padding-top: 29px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    background-image: none;
  }

  .main-card__item h2 {
    font-size: 56px;
    line-height: 60px;
    margin-left: 66px;
    margin-top: 42px;
    color: black;
    text-align: start;
    z-index: 1;
    width: 420px;
  }

  .main-card__item p {
    font-size: 20px;
    line-height: 20px;
    margin-left: 68px;
    margin-top: 40px;
    color: black;
    text-align: start;
    z-index: 2;
  }

  .main-card__product {
    top: -16px;
    left: -21px;
    z-index: 1;
  }

  .main-card__btn {
    position: absolute;
    padding-left: 23px;
    padding-right: 26px;
    padding-top: 17px;
    padding-bottom: 22px;
    margin-right: 20px;
    margin-left: 89px;
    margin-bottom: 23px;
    width: 245px;
    z-index: 2;
    font-size: 20px;
    line-height: 10px;
  }
}

@media (min-width: $desktop-width) {
  .main-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 1300px;
    min-height: 700px;
  }

  .main-card__item {
    width: 610px;
    margin-bottom: 0;
    padding-top: 29px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;

    h2 {
      margin-top: 123px;
      margin-left: 62px;
    }

    p {
      margin-left: 59px;
    }
  }

  .main-card .container::after {
    content: "";
    position: relative;
    background: url("/img/index-background-desktop@1x.jpg") no-repeat;
    z-index: 0;
    opacity: 0.9;
    top: -100px;
    height: 726px;
    width: 1236px;
    left: 109px;
    background-position-x: -108px;
    background-color: #68b738;
  }

  .main-card__product {
    left: 430px;
    z-index: 2;
    top: -295px;
  }

  .main-card__btn {
    position: absolute;
    top: 456px;
    margin-left: 79px;
    font-weight: normal;
    line-height: 14px;
  }
}
