.main-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  /*времено для сетки*/
  min-height: 500px;
}

.main-card__item {
  display: flex;
  flex-direction: column;
  background: url("/img/index-background-mobile@1x.jpg") no-repeat;
  background-size: 320px 306px;
  color: white;
  margin-bottom: 25px;
}

.main-card__item h2 {
  font-size: 32px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 0;
}

.main-card__item p {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.main-card__product {
  display: inline-block;
  position: relative;
}

.main-card__btn {
  padding-left: 66px;
  padding-right: 66px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 23px;

  background-color: #68b738;
  color: white;
  text-align: center;
}
/*Требует доработки*/
@media (min-width: $tablet-width) {
  .main-card {
    min-width: 768px;
    min-height: 850px;
  }

  .main-card__item {
    height: 300px;
    margin-bottom: 0;
    padding-top: 29px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    background-image: none;
  }

  .main-card__item h2 {
    font-size: 60px;
    line-height: 60px;
    margin-left: 60px;
    color: black;
    text-align: start;
    z-index: 1;
  }

  .main-card__item p {
    font-size: 20px;
    line-height: 20px;
    margin-left: 60px;
    color: black;
    text-align: start;
    z-index: 2;
  }

  .main-card__product {
    top: 3px;
    left: 149px;
    z-index: 1;
  }

  .main-card__btn {
    position: absolute;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-right: 20px;
    margin-left: 89px;
    margin-bottom: 23px;
    width: 245px;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .main-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 1300px;
    min-height: 707px;
  }

  .main-card__item {
    width: 610px;
    margin-bottom: 0;
    padding-top: 29px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;

    ::after {
      content: "";
      position: absolute;
      background: url("/img/index-background-desktop@1x.jpg") no-repeat;
      z-index: 0;
      opacity: 0.9;
      top: 0;
      height: 700px;
      width: 700px;
      right: 132px;
    }
  }

  .main-card__product {
    left: 560px;
    z-index: 2;
  }

  .main-card__btn {
    position: absolute;
    top: 390px;
  }
}
