.map {
  min-width: 100%;
  border: 0;
  height: 384px;
  background: url("/img/bg-map-mobile@1x.png") no-repeat, url("/img/bg-map-mobile@2x.png 2x");

  @media (min-width: $tablet-width) {
    background: url("/img/bg-map-tablet@1x.png") no-repeat, url("/img/bg-map-tablet@2x.png 2x") no-repeat;
    min-width: 100%;
  }

  @media (min-width: $desktop-width) {
    background: url("/img/bg-map-desktop@1x.png") no-repeat, url("/img/bg-map-desktop@2x.png 2x") no-repeat;
  }
}
