.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  min-height: 198px;
}

.site-list__item {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;

  padding-top: 25px;
  padding-bottom: 25px;
  width: 280px;
  border-top: 1px solid #e6e6e6;
}

.site-list__item a {
  text-decoration: none;
  color: black;
}

.site-list a:hover {
  color: #707070;
}

.site-list a:active {
  color: rgba(255, 255, 255, 0.3);
  padding-bottom: 8px;
  border-bottom: 2px solid green;
}

.site-list--out {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    justify-content: flex-end;
    align-items: none;
    width: 570px;
    padding-top: 44px;
    min-height: 70px;
    padding-right: 43px;
  }

  .site-list__item {
    width: 150px;
    min-width: 100px;
    z-index: 2;
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    margin-right: 40px;
    padding-top: 75px;
    margin-left: 2px;
    padding-right: 0;
  }

  .site-list__item {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    font-size: 20px;
  }

  .site-list__item .withe {
    color: white;
  }
}
