.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  /* Временно для сетки */
  min-height: 198px;
}

.site-list__item {
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;

  padding-top: 25px;
  padding-bottom: 25px;
  min-width: 320px;
  border-top: 1px solid #e6e6e6;
}

.site-list__item a {
  text-decoration: none;
  color: black;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: none;
    width: 570px;

    /* Временно для сетки */
    min-height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    align-items: none;
    justify-content: flex-end;
    min-width: 1440px;
  }
}
