footer a {
  min-width: 280px;
  min-height: 94px;
}

footer img {
  margin-left: 76px;
}

footer a:last-of-type {
  min-height: 78px;
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  min-height: 62px;
  min-width: 280px;
}

.social li {
  list-style-type: none;
}

.social__item {
  min-height: 62px;
}

.social__item--vk {
  background: url("../source/img/icon-vk.svg") no-repeat;
}

@media (min-width: $tablet-width) {
  footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  footer a {
    min-width: 355px;
    min-height: 94px;
  }

  footer a:last-of-type {
    min-width: 355px;
  }

  .social {
    border-top: none;
    border-bottom: none;
    min-width: 730px;
  }
}
