.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  min-height: 62px;
  min-width: 280px;
  padding-left: 0;
}

.social li {
  list-style-type: none;
}

.social__item {
  content: "";
  width: 20px;
  height: 17px;
  margin-top: 22px;
}

.social__item--vk {
  background: url("../img/icon-vk.svg") no-repeat;
  margin-right: 37px;
}

.social__item--fb {
  background: url("../img/icon-fb.svg") no-repeat;
  margin-right: 0;
}

.social__item--instagram {
  background: url("../img/icon-insta.svg") no-repeat;
  margin-right: 40px;
}

@media (min-width: $tablet-width) {
  footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  footer a {
    min-width: 355px;
    min-height: 94px;
  }

  footer a:last-of-type {
    min-width: 355px;
  }

  .social {
    border-top: none;
    border-bottom: none;
    min-width: 730px;
  }
}
