body {
  background: #ffffff;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "page-header.scss";
@import "page-main.scss";
@import "main-nav.scss";
@import "main-card.scss";
@import "how-work.scss";
@import "full-product.scss";
@import "card.scss";
@import "catalog";
@import "catalog-card";
@import "visability-hidden.scss";
@import "site-list.scss";
@import "social.scss";
@import "section-product.scss";

@font-face {
  font-family: "Oswald";
  src: url("oswaldmedium.woff2") format("woff2") ("oswaldmedium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("oswaldregular.woff2") format("woff2") ("oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
