$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dppx: 1.5dppx;
$index: url("index.html");

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "page-header.scss";
@import "page-main.scss";
@import "main-nav.scss";
@import "main-card.scss";
@import "how-work.scss";
@import "html-academy.scss";
@import "full-product.scss";
@import "card.scss";
@import "catalog";
@import "catalog-card";
@import "visability-hidden.scss";
@import "site-list.scss";
@import "social.scss";
@import "section-product.scss";
@import "container.scss";
@import "form-head.scss";
@import "data-list.scss";
@import "life-exp.scss";
@import "adress.scss";
@import "footer.scss";
@import "map.scss";
@import "catalog-last";

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
