.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 66px;

  background-color: #ffffff;
}

.page-header__logo {
  min-height: 42px;
  top: 5px;
  padding-top: 13px;
  height: 46px;
  width: 194px;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-wrap: nowrap;
    margin: 0 auto;
  }

  .page-header__logo {
    min-height: 65px;
    top: 23px;
    left: 22px;
    width: 184px;
    height: 70px;
    padding-top: 30px;

    img {
      width: 180px;
      position: relative;
      top: -7px;
      left: -5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    top: -2px;
    margin-left: 0;
    min-height: 65px;
    width: 200px;
    left: 72px;
    padding-top: 56px;

    img {
      width: 199px;
      position: relative;
      top: 0;
      left: 0;
    }
  }
}
